[Unit]
Description=Pencil-code Python module tests

[Service]
Type=oneshot
WorkingDirectory=%I
StandardOutput=file:%I/report.txt
EnvironmentFile=%I/pencil_test.conf

ExecStartPre=bash -c "> report.txt"

ExecStartPre=git -C ${pencil_home} stash
ExecStartPre=git -C ${pencil_home} reset --hard HEAD
ExecStartPre=git -C ${pencil_home} pull
ExecStartPre=git -C ${pencil_home} clean -xfq

ExecStartPre=echo "---- TEST RESULTS FOLLOW ----"
# Store tox's environments in ${tmpdir} so that we don't run into issues with virtualenvs being dynamically linked to outdated libraries.
# NOTE: integration tests fail if sourceme.sh has not been run.
ExecStart=-bash -c "cd ${pencil_home}/python/tests && \
	source ${pencil_home}/sourceme.sh && \
	tox --workdir ${tmpdir}/%u/%N"

#Expose the code coverage report
#NOTE: these should run regardless of whether tox succeeded above.
ExecStartPost=rm -rf %I/code_coverage
ExecStartPost=cp -r ${pencil_home}/python/tests/htmlcov %I/code_coverage
