[Unit]
Description=Pencil-code Python module tests

[Service]
Type=oneshot
StandardOutput=file:%I/report.txt
EnvironmentFile=%I/pencil_test.conf

ExecStartPre=bash -c "> report.txt"

ExecStartPre=git -C ${pencil_home} stash
ExecStartPre=git -C ${pencil_home} reset --hard HEAD
ExecStartPre=git -C ${pencil_home} pull
ExecStartPre=git -C ${pencil_home} clean -xfq

# Store tox's environments in ${tmpdir} so that we don't run into issues with virtualenvs being dynamically linked to outdated libraries.
# NOTE: integration tests fail if sourceme.sh has not been run.
ExecStart=bash -c "${pencil_home}/python/tests/test-python-modules.py --full --outputdir=%I"

